<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Carlos</title>
</head>
<body>
    <!-- Header and navbar -->
    <header id="header__navbar">
        <nav class="nav">
            <div class="name__container">
                <span class="name"> <span class="name__symbol">&lt;/</span>Carlos<span class="name__symbol">&gt;</span></span>
            </div>
            <div class="list__container">
                <ul class="list">
                    <li class="list__li"><a href="" class="list__li__links">Home</a></li>
                    <li class="list__li"><a href="" class="list__li__links" >About</a></li>
                    <li class="list__li"><a href="" class="list__li__links">Skills</a></li>
                    <li class="list__li"><a href="" class="list__li__links">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Page's presentation-->
    <section class="presentation__container">
        <div class="presentation__text__container">
            <div class="text__container">
                <span class="text__hi">Hi There,</span>
                <h1 class="text__main">I am a <span class="text__main__coreword">Developer</span></h1>
                <p class="text__description">Junior Full Stack Developer passionate about building web applications and eager to contribute to dynamic projects. Let's create innovative solutions together!</p>
                <a href="#" class="text__contact__button">Contact me</a>
            </div>
        </div>
        <div class="presentation__img__container">
            <div class="item__container">
                <div class="item__1"></div>
                <div class="item__2"></div>
                <div class="item__3"></div>
                <div class="item__img"><img src="../images/Illustration.svg" alt="" srcset="" class="img__illustration"></div>
            </div>
        </div>
        <div class="icon__container">
            <img src="../images/chevron-down.svg" alt="" srcset="" class="icon">
        </div>
    </section>

    <!--The main container where we have the principal content-->
    <main class="main__container">
        <section class="content__container__1">
            <div class="content__1__image">
                <img src="../images/image-about-me.jpg" alt="" srcset="" class="image__about__me">
            </div>
            <div class="content__1__text">
                <div class="about__me">
                    <div>
                        <h1 class="principal__text__about">About <span class="principal__text__me">me</span></h1>
                        <br class="line__jump">
                        <p class="parr__text__about">Hello! I'm Carlos Sirias, a passionate web developer focused on creating innovative and functional digital solutions. Through my portfolio website, I showcase personal projects and examples of my work in web development. I am committed to continuous learning and staying up-to-date with the latest trends and technologies. Thank you for visiting my portfolio website and joining me on this exciting journey!</p>
                    </div>
                </div>
                <hr class="line__about__me hidden">
                <div class="skills">
                    <div class="skills__content">
                        <h1 class="principal__text__skills">Skills</h1>
                        <div class="icon__skills__container">
                            <ul class="list__icon__skills">
                                <li><img src="../images/icon__html.svg" alt="" srcset="" class="icons__skills"></li>
                                <li><img src="../images/icon__css.svg" alt="" srcset="" class="icons__skills"></li>
                                <li><img src="../images/icon__javascript.svg" alt="" srcset="" class="icons__skills"></li>
                                <li><img src="../images/icon__php.svg" alt="" srcset="" class="icons__skills"></li>
                                <li><img src="../images/icon__python.svg" alt="" srcset="" class="icons__skills"></li>
                                <li><img src="../images/icon__git.svg" alt="" srcset="" class="icons__skills"></li>
                            </ul>
                        </div>
                        <div class="button__skills__container">
                            <a href="https://github.com/carlossirias" target="_blank" class="button__skills">Check out my GitHub profile!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content__container__2"></section>
        <section class="content__container__3"></section>
    </main>

    <!--Main Js-->
    <script src="../js/main.js"></script>
    <!--Script to import TypeJs-->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <!--Script to manipulate the library-->
    <script src="../js/type.js"></script>
    <!--Script to import ScrollReveals-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--Script to manipulate the library-->
    <script src="../js/reveal.js"></script>

</body>
</html>  